@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap");

form input {
  width: 100%;
}

input[type="radio"],
input[type="checkbox"] {
  width: 2vw;
}

input[type="submit"] {
  width: 60%;
  background-color: #1cd1b0;
  font-size: 2rem;
  font-weight: 700;
  font-family: "Inter";
}

form input,
form textarea,
select {
  width: 100%;
  padding: 0.5vw 0;
  border-radius: 0.5vw;
  border: none;
  margin: 0.5vw 0;
}
label {
  font-size: 2vh;
}

textarea {
  flex: 1;
  resize: none;
}

.text-cont {
  height: 90%;
}
.poderes-cont label {
  width: 50%;
}

.form-section {
  height: 80.5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container {
  background-color: #00669f;
  height: 74.5vh;
  width: 66.5vw;
  border-radius: 2vw;
}
.form-field {
  color: white;
  font-family: "Inter", sans-serif;
  display: flex;
  padding: 0 7vw;
  font-weight: 300;
}

.form-title {
  text-align: center;
  color: white;
  font-family: "Inter", sans-serif;
  padding: 1vw 1vw;
}

.form-first-data,
.form-second-data {
  height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.Button-field {
  height: 13vh;
  justify-content: center;
  padding-bottom: 1vw;
  width: 100%;
}

.input-cont {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0.5vw 0.6vw;
  flex-wrap: wrap;
  align-content: flex-start;
}

.form-third-data {
  height: 30vh;
  display: flex;
  align-items: center;
}

.form-title h2 {
  font-size: 2vw;
  font-weight: 700;
}

.form-title p {
  font-size: 1vw;
  font-weight: 300;
}

.poderes-cont,
.radio-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
